.footer {
  background-color: #4e6c50;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 100px;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-container img {
  height: 100px;
}

.name-container p {
  width: 40%;
  text-align: center;
  margin: 0px;
}

.copyright-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
